:root {
  --yonder-color: #4b71aa;
  --saphire-color-10: #385f71;
  --magonolia-color-20: #f5f0f6;
  --burlywood-color-30: #d7b377;
  --frenchBistre-color-40: #8f754f;
}
.btn-primary {
  @include button-variant(
    $mynewcolor,
    darken($mynewcolor, 7.5%),
    darken($mynewcolor, 10%),
    lighten($mynewcolor, 5%),
    lighten($mynewcolor, 10%),
    darken($mynewcolor, 30%)
  );
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: roboto_regular;
}

.btn {
  border-radius: 5rem;
}

.btn-primary {
  color: #f5f0f6 !important;
  background-color: #a48f9a !important;
  border-color: #a48f9a !important;
}

.btn-primary:hover {
  color: #000000 !important;
  background-color: #a48f9a !important;
  border-color: #a48f9a !important;
}

.btn-primary.focus {
  color: #000000 !important;
  background-color: #a48f9a !important;
  border-color: #a48f9a !important;
}

.btn-secondary {
  color: #f5f0f6 !important;
  background-color: #fac748 !important;
  border-color: #fac748 !important;
}

.btn-secondary:hover {
  color: #000000 !important;
  background-color: #fac748 !important;
  border-color: #fac748 !important;
}

.btn-secondary.focus {
  color: #000000 !important;
  background-color: #fac748 !important;
  border-color: #fac748 !important;
}

.btn-back {
  color: #f5f0f6 !important;
  background-color: #979595 !important;
  border-color: #979595 !important;
}

.btn-back:hover {
  color: #000000 !important;
  background-color: #979595 !important;
  border-color: #979595 !important;
}

.btn-back.focus {
  color: #000000 !important;
  background-color: #979595 !important;
  border-color: #979595 !important;
}
