#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: roboto_regular;
}

.title-a {
  color: #ffffff;
  text-decoration: none;
}

.title-a:hover {
  color: hsla(0, 0%, 100%, 0.7);
}

.custom-alert {
  color: #f5f0f6 !important;
  background-color: rgb(255, 128, 64) !important;
  border-color: rgb(252, 123, 58) !important;
  border-radius: 3rem;
}

.custom-a {
  color: #16c266;
  font-weight: bold;
  text-decoration: none;
}

.custom-a:hover {
  color: #51d990;
  text-decoration: underline;
}

.warningText {
  color: rgb(230, 85, 12);
  font-weight: bold;
}
.highlightText {
  color: #51d990;
  font-weight: bold;
}

.btn {
  border-radius: 1.1rem;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #a48f9a !important;
  border-color: #a48f9a !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.open {
  color: #000000 !important;
  background-color: #ccb1bf !important;
  border-color: #ccb1bf !important;
}

.btn-secondary {
  color: #ffffff !important;
  background-color: rgb(230, 85, 12) !important;
  border-color: rgb(230, 85, 12) !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.open {
  color: #000000 !important;
  background-color: rgb(255, 117, 48) !important;
  background-color: rgb(255, 117, 48) !important;
}

.btn-back {
  color: #ffffff !important;
  background-color: #979595 !important;
  border-color: #979595 !important;
}

.btn-back:hover,
.btn-back:focus,
.btn-back:active,
.open {
  color: #000000 !important;
  background-color: #aba9a9 !important;
  border-color: #aba9a9 !important;
}
